main {
  display: flex;
  justify-self: center;
  align-self: center;
  margin-left: 100px;
  margin-top: 40px;
  padding: 20px;
}

.home-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 40px;
  margin-top: 80px;
  width: max-content;
  justify-self: center;
}

.home-cards div {
  border: none;
  border-radius: 8px;
  background-image: linear-gradient(to bottom, var(--highlight), var(--bg) );
  padding: 30px 10px;
  padding-bottom: 50px;
  margin: 10px;
  height: 64px;
  width: 164px;
  text-align: center;
  justify-content: center;
  box-shadow: 0px 4px 4px #00000030, 0px 12px 12px #00000015;
}

.home-cards div p {
  font-size: 22px;
  font-weight: 700;
  opacity: 0.8;
}

.activities {
  margin: 40px;
  margin-top: 60px;
  margin-bottom: 30px;
}
.activities p {
  font-size: 28px;
  font-weight: 700;
  opacity: 0.8;
  margin-bottom: 10px;
}

.activities ul {
  margin-top: 20px;
}

.activities li {
  font-size: 16px;
  font-weight: 600;
  opacity: 0.8;
  margin-bottom: 12px;
}