main {
  display: flex;
  margin-left: 4rem;
  margin-top: 6rem;
}

.home-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
  margin: 1.2rem;
  margin-top: 5rem;
  width: max-content;
  justify-self: center;
}

.link-card {
  width: 12rem;
  padding: 2rem 0px;
}
.title {
  padding-top: 0.4rem;
  padding-bottom: 0;
}

.activities {
  margin: 40px;
  margin-top: 60px;
  margin-bottom: 30px;
}
.activities p {
  font-size: 28px;
  font-weight: 700;
  opacity: 0.8;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}
.activities li {
  font-size: 16px;
  font-weight: 600;
  opacity: 0.8;
  margin-bottom: 12px;
}
