main {
  display: flex;
  column-gap: 50px;
  max-width: max-content;
  justify-content: space-evenly;
  justify-self: center;
}

.link-card {
  width: 16rem;
  border: none;
  border-radius: 1.2rem;
  background-image: linear-gradient(to bottom, var(--highlight), var(--bg) );
  padding: 1.5rem 1rem;
  box-shadow: 0px 4px 4px #00000030, 0px 12px 12px #00000015;
  text-decoration: none;

  display: flex;
  flex-direction: column;
  align-items: center;  
  transition: all 0.2s;
}
.link-card:hover {
  scale: 1.02;
}
.link-card:active {
  scale: 0.98;
  opacity: 0.8;
}