:root {
  --bg-dark: hsl(195 21% 89%);
  --bg: hsl(195 40% 94%);
  --bg-light: hsl(195 100% 100%);
  --text: hsl(196 72% 4%);
  --text-muted: hsl(194 14% 27%);
  --highlight: hsl(195 100% 99%);
  --border: hsl(195 8% 49%);
  --border-muted: hsl(195 11% 61%);
  --primary: hsl(190 100% 13%);
  --secondary: hsl(15 63% 28%);
  --danger: hsl(9 21% 41%);
  --warning: hsl(52 23% 34%);
  --success: hsl(147 19% 36%);
  --info: hsl(217 22% 41%);
}


body {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  background: linear-gradient(45deg, #ffe43777 0%, #537fe77a 100%);
  height: 100vh;
}

h3 {
  margin-bottom: 8px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1.5px solid #d0d7de;
  color: white;
  background-image: linear-gradient(to right, hsla(223, 66%, 33%, 0.815), hsl(223, 46%, 23%));
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  z-index: 10;
}

.left-section img {
  width: 24px;
  margin-left: 16px;
}
.left-section img:hover {
  scale: 1.05;
}

.middle-section {
  font-weight: 600;
  font-size: 22px;
  margin-left: 200px;
}

.right-section {
  margin-right: 16px;
  font-size: 15px;
  opacity: 0.8;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  top: 64px;
  bottom: 0;
  left: 0;
  width: 80px;
  padding-top: 0px;
  background-color: var(--bg-light);
  border-right: 1.5px solid #d0d7de;
  box-shadow: 1px 0 6px rgba(0,0,0,0.05);
}

.sidebar-content {
  font-size: 14px;
  font-weight: 600;
  opacity: 0.9;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 24px 0;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
  border-radius: 8px;
}
.sidebar-content:hover {
  background-color: #f0f6ff;
  transform: scale(1.02);
}
.sidebar-content:active {
  background-color: hsl(59, 42%, 80%);
  transform: scale(1.02);
}


.sidebar-content-1 {
  font-size: 14px;
  font-weight: 600;
  height: 60px;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 24px 0;
  padding: 16px;
  cursor: pointer;
  background-color: hsla(0, 0%, 0%, 0.200);
  box-shadow: 2px 0px 80px hsla(0, 0%, 0%, 0.200);
  transition: background-color 0.2s ease, transform 0.1s ease;
  border-radius: 2px;
}

.sidebar img {
  width: 36px;
  margin-bottom: 6px;
}


button {
  font-size: 14px;
  font-weight: 550;
  cursor: pointer;
  width: max-content;
  height: 40px;
  padding: 5px 20px;
  margin-top: 8px;
  border-radius: 0.8rem;
  border: none;
  background-color: hsla(223, 66%, 33%, 0.815);
  opacity: 0.9;
  transition: opacity 0.15s, transform 0.1s, background-color 0.1s;
}
button:hover {
  box-shadow: 0 2px 4px gray;
  background-color: hsl(223, 46%, 23%);
}
button:active {
  opacity: 0.6;
  transform: scale(0.98);
}
