:root {
  --bg-dark: hsl(195 21% 89%);
  --bg: hsl(195 40% 94%);
  --bg-light: hsl(195 100% 100%);
  --text: hsl(196 72% 4%);
  --text-muted: hsl(194 14% 27%);
  --highlight: hsl(195 100% 99%);
  --border: hsl(195 8% 49%);
  --border-muted: hsl(195 11% 61%);
  --primary: hsl(190 100% 13%);
  --secondary: hsl(15 63% 28%);
}


body {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  background: linear-gradient(45deg, #ffe43777 0%, #537fe77a 100%);
  height: 100vh;
  align-items: center;
}
