header {
  font-size: 20px;
  font-weight: 500;
  opacity: 0.9;
  border-bottom: 1.5px solid #d0d7de;
  color: white;
  background-image: linear-gradient(
    to right,
    hsla(223, 66%, 33%, 0.815),
    hsl(223, 46%, 23%)
  );

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  z-index: 10;
}

.left-section img {
  width: 2rem;
  margin-left: 1rem;
}

.middle-section {
  font-weight: 700;
  font-size: 1.5rem;
}

.right-section {
  margin-right: 16px;
  font-size: 15px;
}
