/*------------ Header -------------*/
header {
  width: 100%;
  display: flex;
  column-gap: 30px;
  justify-content: center;
  background-image: linear-gradient(to right, hsl(223, 46%, 23%), hsla(223, 66%, 33%, 0.815));
}
header img {
  width: 80px;
  height: auto;
  border-radius: 4px;
  align-self: center;
}
header p {
  font-size: 24px;
  font-weight: 600;
  color: white;
  opacity: 0.8;
}


/*-------------- Heading & sub-heading --------------*/
.heading{
  font-size: 40px;
  font-weight: 800;
  color: var(--text);
  justify-self: center;
  margin-top: 24px;
  margin-bottom: 0px;
  opacity: 0.9;
}
.sub-heading {
  font-size: 18px;
  font-weight: 700;
  color: var(--text-muted);
  justify-self: center;
  margin-bottom: 48px;
}


/*-------------- Cards  ----------------*/
.user {
  font-size: 32px;
  font-weight: 800;
  color: var(--text);
  opacity: 0.8;
  margin: 0;
  padding-bottom: 32px;
}
.sub-user{
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin: 0;
  color: var(--text-muted);
  opacity: 0.9;
}




/*-------------- Responsive for mobile ----------------*/
 @media (max-width: 540px) {
  body {
    height: 100vh;
  }

  header{
    height: 50px;
  }
  header img {
    width: 50px;
    height: auto;
    border-radius: 4px;
  }
  header p {
    font-size: 16px;
    font-weight: 700;
    opacity: 0.8;
    color: white;
  }

  .heading{
    font-size: 22px;
    font-weight: 800;
    opacity: 0.9;
  }
  .sub-heading {
    font-size: 16px;
    font-weight: 700;
    margin-left: 16px;
  }

  main {
    flex-direction: column;
    justify-self: center;
    row-gap: 16px;
    width: 100%;
  }
}