@media (max-width: 440px) {
    #login-section {
        max-width: 100%;
        margin: 15px;
    }
}

@media (min-width: 441px) {
    #login-section {
        width: 352px;
        justify-self: center;
    }
}

.qr_img {
    display: inline-block;
    width: 76px;
}

.qr-img {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0px;
}

.signInMsg {
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 25px;
    opacity: 0.8;
}


.enterUsername, .enterPassword {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: -6px;
    text-align: left;
    opacity: 0.85;
}

.enterPassword {
    display: grid;
    grid-template-columns: 1fr max-content;
}

.forgotPassword {
    color: rgb(9, 105, 218);
    font-weight: 400;
    text-align: end;
}
.forgotPassword:hover {
    cursor: pointer;
    text-decoration: underline;
}

.username, .password {
    margin-bottom: 10px;
    width: 100%;
}

.password {
    margin-bottom: 15px;
}

#username , #password {
    font-size: 14px;
    border-style: solid;
    border-width: 0.8px;
    border-color: rgb(209, 217, 224);
    border-radius: 3px;
    height: 16px;
    width: 100%;
    padding: 12px 5px;
    box-shadow: 0 -0.3px 0.5px rgb(218, 217, 217);
}


#loginBtn {
    color: white;
    background-color:rgb(24, 124, 53);
    font-size: 14px;
    font-weight: 550;
    cursor: pointer;
    width: 100%;
    height: 40px;
    padding: 5px 16px;
    margin-top: 8px;
    border-radius: 5px;
    border: 0.8px solid rgba(31, 35, 40, 0.15);
    opacity: 0.9;
    transition: opacity 0.15s;
}
#loginBtn:hover {
    opacity: 1;
}
#loginBtn:active {
    opacity: 0.5;
}


#finalizeModal { display:none; position: fixed; left:0; top:0; right:0; bottom:0; background:rgba(0,0,0,0.5); align-items: center; justify-content: center; }
#finalizeContent { background: #fff; padding: 1rem; max-width: 600px; width: 90%; border-radius: 6px; max-height: 80vh; overflow: auto;}
.student-row { display: flex; justify-content: space-between; padding: 6px 0; border-bottom: 1px solid #eee; }