main {
  flex-direction: column;
  row-gap: 1.5rem;
  margin-top: 8rem;
}

.link-card img {
  width: 3rem;
}
.link-card p {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-muted);
}


#scanner-section {
  width: 100%;
  height: calc(100vh - 4rem);
  padding: 20px;

  display: flex;
  flex-direction: column;
  background-color: var(--bg);

  position: relative;
  top: 4rem;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  box-sizing: border-box;
  overflow: auto;
}

#closeScanBtn {
  color: white;
  font-size: 1rem;
  font-weight: 800;
  background-color: #da3633;
  border: none;
  border-radius: 1rem;
  height: 3rem;
  width: 3rem;
  
  position: absolute;
  top: 1.2rem;
  right: 0.4rem;
  z-index: 100;
  transition: all 0.1s ease;
}

#video {
  width: 100%;
  border: 0.4rem solid gray;
  border-radius: 2rem;
  box-shadow: 0px 16px 16px #00000030, 0px 48px 48px #00000015;
}


.slider-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 1rem auto 0 auto;
}

.slider-icon {
  width: 3rem;
  object-fit: contain;
  opacity: 0.9;
}

#zoom-slider {
  margin: 0 auto;
  accent-color: #1f6feb;
  width: 70%;
  height: 0.8rem;
  border-radius: 8px;
  flex-shrink: 0;
  appearance: none;
  background-color: hsl(204, 100%, 88%);
}

#zoom-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: #0b4db3;
  border: 3px solid rgba(0, 0, 0, 0.9);
  box-shadow: 0 4px 8px rgba(11,77,179,0.25);
}

#scan-result {
  font-size: 1.5rem;
  font-weight: 700;
  opacity: 0.9;
  margin-top: 1rem;
  color: #144c99;
  text-align: center;
  flex-shrink: 0;
}