#beforeStart {
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  padding: 2rem 2rem;
  border-radius: 1rem;
  align-items: center;
  justify-self: center;
  background-image: linear-gradient(to bottom, var(--highlight), var(--bg));
  box-shadow:
    0px 4px 4px #00000030,
    0px 12px 12px #00000015;
}
#sub-name {
  font-size: 3rem;
  font-weight: 800;
  color: var(--text);
  margin-bottom: 1rem;
  opacity: 0.8;
}
.select-section {
  font-size: 1.5rem;
  font-weight: 700;
  opacity: 0.8;
  margin-top: 20px;
}
select {
  font-size: 1.2rem;
  font-weight: 600;
  opacity: 0.8;
  padding: 0.5rem 1rem;
  margin-left: 0.6rem;
  border-radius: 0.5rem;
  border: 2px solid #918e8e;
}
#startSessionBtn {
  color: white;
  margin-top: 16px;
}

#afterStart {
  display: none; /* Dynamically changed to 'flex' by JS */
  justify-content: space-evenly;
  padding-top: 6rem;
  padding-left: 5rem;
}
.afterStart-fs {
  padding: 0 !important;
}

canvas {
  border-radius: 1rem;
  width: 35% !important;
  padding: 1rem;
  background-color: white;
  box-shadow:
    0px 0.5rem 0.5rem #0000006b,
    0px 1rem 1rem #00000031;
}
.canvas-fs {
  width: 50% !important;
}

.live-section {
  background-color: var(--bg-light);
  width: 40%;
  max-height: calc(100vh - 8rem);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  box-shadow:
    0px 0.5rem 0.5rem #0000006b,
    0px 1rem 1rem #00000031;
}
.live-section-fs {
  max-height: 100vh !important;
}

.live-section-heading {
  font-size: 2.5rem;
  font-weight: 800;
  opacity: 0.8;
  margin: 1rem auto;
}
.live-section div {
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 1rem;
  align-items: center;
}
#studentCount {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  color: #555;
  display: inline-block;
}
.white-btn {
  color: #24292f;
  background-color: #f6f8fa;
  border: 1px solid #d0d7de;
  transition: all 0.15s ease;
}
.white-btn:hover {
  background-color: #e1e4e8;
}

.toggle-fullscreen-btn {
  background-color: rgba(0, 0, 0, 0.205);
  opacity: 0.5;
  max-width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 1;
  cursor: pointer;
}
.toggle-fullscreen-btn:hover {
  opacity: 1;
}
.toggle-fullscreen-icon {
  width: 1.2rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  transform: translateX(-30%) translateY(30%);
}

#studentList {
  overflow-y: auto;
  margin-right: 1rem;
}
#studentList li {
  font-size: 1.2rem;
  font-weight: 600;
  color: #2e7d32;
  padding: 0.3rem 2rem;
  opacity: 0.9;
  background-color: #e8f5e9;
  border-left: 4px solid #4caf50;
  border-bottom: 0.8px solid gray;
  border-radius: 4px;
}
