#session-section {
  padding-top: 40px;
  padding-left: 40px;
}

/* CONTENT AREA */
.content {
  margin-right: 40px;
  padding: 40px;
}

.qr-generate {
  background-color: hsl(57, 73%, 32%);
}

#beforeStart {
  display: flex;
  flex-direction: column;
  width: max-content;
  margin-top: 64px;
  margin-left: 30px;
  padding: 20px 30px;
  border-radius: 16px;
  text-align: center;
  justify-self: center ;
  background-image: linear-gradient(to bottom, var(--highlight), var(--bg) );
  box-shadow: 0px 4px 4px #00000030, 0px 12px 12px #00000015;
}

.sub-details {
  font-size: 36px;
  font-weight: 700;
  color: var(--text);
  margin: 30px 0;
  opacity: 0.9;
}

.select-section {
  font-size: 20px;
  font-weight: 700;
  opacity: 0.8;
  margin-top: 20px;
}

select {
  font-size: 18px;
  font-weight: 500;
  padding: 6px 10px;
  margin-left: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/* AFTER START SECTION */
#afterStart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 40px;
  margin: 10px 40px;
  height: calc(100vh - 8rem);
}

.a {
  width: 50%;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0px 4px 4px #00000030, 0px 12px 12px #00000015;
  display: flex;
  align-items: center;
  justify-content: center;
}

.b {
  background-color: #fff;
  width: 50%;
  border-radius: 12px;
  box-shadow: 0px 4px 4px #00000030, 0px 12px 12px #00000015;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
}

.b p:nth-of-type(1) {
  font-size: 2rem;
  font-weight: 700;
  opacity: 0.9;
  margin-bottom: 10px;
}
.b p:nth-of-type(2) {
  font-size: 1.2rem;
  font-weight: 500;
  color: #555;
  margin-bottom: 20px;
  margin-right: 10px;
  display: inline-block;
}

.live-section {
  text-align: center;
  margin-bottom: 10px;
}

.live-section p:first-of-type {
  font-size: 36px;
  font-weight: 700;
  opacity: 0.8;
}

#studentList {
  max-height: 50vh; 
  overflow-y: auto;
  padding-right: 10px;
}

#studentList::-webkit-scrollbar {
  width: 6px;
}

#studentList::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 10px;
}



#studentList li {
  font-size: 18px;
  font-weight: 500;
  padding: 4px 16px;
  background-color: #e8f5e9;
  border-left: 4px solid #4caf50;
  border-bottom: 0.8px solid gray;
  border-radius: 4px;
  color: #2e7d32;
}


#startSessionBtn {
  color: white;
  margin-top: 16px;
}

#endSessionBtn {
  color: #24292f;
  background-color: #f6f8fa;
  border: 1px solid #d0d7de;
  transition: all 0.15s ease;
}
#endSessionBtn:hover {
  background-color: #e1e4e8;
}

/* MODAL */
#finalizeModal {
  display: none;
  position: fixed;
  inset: 0;
  background-color: rgba(0,0,0,0.3);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

#finalizeContent {
  background-image: linear-gradient(to bottom, var(--highlight), var(--bg) );
  padding: 30px;
  border-radius: 16px;
  width: 324px;
  box-shadow: 0px 4px 4px #00000030, 0px 12px 12px #00000015;
  text-align: left;
}

#finalizeContent h3 {
  font-size: 24px;
  font-weight: 700;
  opacity: 0.8;
  margin-bottom: 24px;
}

#finalizeContent p {
  font-size: 24px;
  font-weight: 700;
  opacity: 0.8;
  margin-bottom: 24px;
}

.finalize-buttons {
  margin-top: 16px;
  display: flex;
  justify-content: space-around;
}

.finalize-buttons button:first-child {
  background-color: #238636;
  color: #fff;
}

.finalize-buttons button:last-child {
  background-color: #f6f8fa;
  border: 1px solid #d0d7de;
}
